COSC365Assignment2/Survey.BusinessLayer/Service References/DataLayerServiceReference/DataLayerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4153/DataLayerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Survey.DataEntities" />
  <xs:element name="GetCourseByUserCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourseByUserCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCourseByUserCodeResult" nillable="true" type="tns:ArrayOfParticipation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfParticipation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Participation" nillable="true" type="tns:Participation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParticipation" nillable="true" type="tns:ArrayOfParticipation" />
  <xs:complexType name="Participation">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourseCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="UserCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Participation" nillable="true" type="tns:Participation" />
  <xs:element name="GetSurveyByCourseCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSurveyByCourseCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Survey.DataEntities" minOccurs="0" name="GetSurveyByCourseCodeResult" nillable="true" type="q1:SurveyEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>