COSC365Assignment2/Survey.BusinessLayer/Service References/DataLayerServiceReference/DataLayerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Survey.DataEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Survey.DataEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SurveyEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CourseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Questions" nillable="true" type="tns:ArrayOfQuestionEntity" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SurveyEntity" nillable="true" type="tns:SurveyEntity" />
  <xs:complexType name="ArrayOfQuestionEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuestionEntity" nillable="true" type="tns:QuestionEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionEntity" nillable="true" type="tns:ArrayOfQuestionEntity" />
  <xs:complexType name="QuestionEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionEntity" nillable="true" type="tns:QuestionEntity" />
</xs:schema>