COSC365Assignment2/Survey.Client/Service References/BusinessLayerServiceReference/BusinessLayerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Survey.DataEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Survey.DataEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSurveyInstanceEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SurveyInstanceEntity" nillable="true" type="tns:SurveyInstanceEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSurveyInstanceEntity" nillable="true" type="tns:ArrayOfSurveyInstanceEntity" />
  <xs:complexType name="SurveyInstanceEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SurveyEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CourseCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CourseName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateSubmitted" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Questions" nillable="true" type="tns:ArrayOfQuestionInstanceEntity" />
          <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SurveyInstanceID" type="xs:int" />
          <xs:element minOccurs="0" name="UserCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SurveyInstanceEntity" nillable="true" type="tns:SurveyInstanceEntity" />
  <xs:complexType name="SurveyEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SurveyID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SurveyEntity" nillable="true" type="tns:SurveyEntity" />
  <xs:complexType name="ArrayOfQuestionInstanceEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuestionInstanceEntity" nillable="true" type="tns:QuestionInstanceEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionInstanceEntity" nillable="true" type="tns:ArrayOfQuestionInstanceEntity" />
  <xs:complexType name="QuestionInstanceEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QuestionEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QuestionInstanceID" type="xs:int" />
          <xs:element minOccurs="0" name="Score" type="xs:int" />
          <xs:element minOccurs="0" name="SurveyInstanceID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuestionInstanceEntity" nillable="true" type="tns:QuestionInstanceEntity" />
  <xs:complexType name="QuestionEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="QuestionID" type="xs:int" />
      <xs:element minOccurs="0" name="SurveyID" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionEntity" nillable="true" type="tns:QuestionEntity" />
</xs:schema>